.container {
}

header {
    padding: 10px;
    background-color: lawngreen;
}

main {
}

.station-link {
    display: block;
    margin: 20px;
    padding: 10px;
    background-color: #eaeaea;
}

/*.track {*/
/*margin: 80px 20px;*/
/*display: flex;*/
/*align-items: center;*/
/*position: relative;*/
/*border: 2px solid black;*/
/*width: 400px;*/
/*}*/

/*.train {*/
/*--diameter: 20px;*/
/*border: 1px solid black;*/
/*border-radius: 50%;*/
/*width: var(--diameter);*/
/*height: var(--diameter);*/
/*background-color: white;*/
/*position: absolute;*/
/*left: 40px;*/
/*}*/