.detail {
    margin: 5px;
}

.detail-track {
    display: flex;
}

.detail__station {
    margin-right: 5px;
}

.detail__station--current {
    color: green;
}

.detail-track__direction {
    margin-right: 5px;
}