.live-train-map {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

/*.live-train-map {*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*height: 30px;*/
    /*margin: 10px;*/
/*}*/

.live-train-map__track {
    display: flex;
    align-items: center;
    position: relative;
    border: 2px solid black;
    width: 200px;
}

.live-train-map__station {
    --diameter: 20px;
    border: 1px solid black;
    border-radius: 50%;
    width: var(--diameter);
    height: var(--diameter);
    background-color: white;
    position: absolute;
    left: 40px;
}

.live-train-map__station-name {
    position: absolute;
}

.live-train-map__train {
    --diameter: 20px;
    border: 1px solid black;
    border-radius: 50%;
    width: var(--diameter);
    height: var(--diameter);
    background-color: white;
    position: absolute;
    left: 40px;
}