.live-train-map {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    margin: 10px;
}

.live-train-map__station-name {
    width: 110px;
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.live-train-map__station-name--start {
    text-align: right;
}

.live-train-map__track {
    margin: 0 5px;
}

.live-train__data th {
    text-align: right;
}