.tracker {
    margin: 10px;
}

.tracker-map {
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

.tracker-map__train {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
}

.tracker-map__train--1 {
    background-color: green;
}

.tracker-map__train--2 {
    background-color: blue;
}

.tracker-map__station {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: red;
    position: absolute;
}